:host {
  display: block;
  width: 100%;
}

.orders-list {
  margin: 8px 0 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
  }
}

